.main-navbar-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14rem;
  max-width: 80rem;
}

.logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
}

.logo-img {
  width: 100%;
}

.navbar-links-list-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  list-style: none;
}

.navbar-ghost-div {
  width: 10rem;
}

.navbar-link {
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease, transform 0.3s ease;
  font-weight: 500;
}

.navbar-link:hover {
  color: #9a1a24;
  cursor: pointer;
}