.teacher-img-background {
    background-image: url("../../src/assets/images/teacher-form-image.jpg") !important;
}

.teacher-form-input {
    width: 100%;
    box-sizing: border-box;
    color: #333;

}

select.teacher-form-input {
    color: #333;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2210%22%20height%3D%225%22%20viewBox%3D%220%200%2010%205%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M0%200l5%205%205-5z%22%20fill%3D%22%238C92AC%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.8rem center;
    background-size: 10px 5px;
    /*padding-right: 2rem;*/
}

.teacher-form-input {
    border-radius: 5px;
    border: 1px solid #8C92AC;
    width: 100%;
    /*/padding: 1rem;*/
    font-size: 1.5rem;
}

.teacher-form-input::placeholder {
    color: #b5b5b5;
}

.teacher-phone-number.teacher-form-input.form-control {
    border: 1.5px solid #8C92AC; 
}

.teacher-phone-country.flag-dropdown {
    border: 1.5px solid #8C92AC;
}

.css-hp5u3l-control.teacher-form-select__control {
    border: 1.5px solid #8C92AC;
}

.css-1052qbs-control.teacher-form-select__control {
    border: 1.5px solid #8C92AC;
}

.css-1t5wy6e-control.teacher-form-select__control {
    border: 1.5px solid #8C92AC;
}