.student-img-background {
    background-image: url("../../src/assets/images/student-form-image.jpg") !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.error {
    color: red;
    /*background-color: #ffe6e6;*/
    /*border: 1px solid red;*/
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.student-phone-number.student-form-input.form-control {
    border: 1px solid #8C92AC;
}

.student-phone-number.student-form-input.form-control {
    border: 1px solid #8C92AC;
}

.css-kdweqv-control.student-form-select__control {
    border: 1px solid #8C92AC;
}

.react-tel-input .flag-dropdown {
    border: 1px solid #8C92AC !important;
}

