.programme-main-component-div {
    margin-top: 4.2rem;
    margin-bottom: 4.2rem;
    max-width: 120rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.programme-main-grid {
    width: 85%;
    display: grid;
    grid-template-columns: 40% 60%;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

.img-main-div {
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.form-img {
    width: 100%;
}

.programme-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.2rem 6.2rem;
}

.programme-form-div {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: flex-start;
}

.programme-form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
    width: 70%;
}

.programme-form-label {
    color: #333;
    font-weight: 600;
}

.programme-form-input {
    border-radius: 5px;
    border: 1px solid #8C92AC;
    width: 100%;
    padding: 0.4rem;
}

.programme-form-input::placeholder {
    color: #b5b5b5;
}

.programme-form-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}